@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Home Page -->
<div class="text-center">
    <h1 class="display-4">Welcome to Personal Palette Provider</h1>
    <p></p>

    <div>
        <!-- Link to showcase page.  -->
        <a> </a>
    </div>
</div>
